{% extends "base.html" %} {% block title %}Политика конфиденциальности{% endblock %}
{% block content %}
    <div class="max-w-4xl mx-auto px-4 py-8">
        <section class="space-y-4">
            <h1 class="text-3xl font-bold mb-8">Политика конфиденциальности</h1>
            <p>Этот сайт использует сервис веб-аналитики Яндекс Метрика, предоставляемый компанией ООО «ЯНДЕКС», 119021, Россия, Москва, ул. Л. Толстого, 16 (далее — Яндекс).</p>
            <p>Сервис Яндекс Метрика использует технологию «cookie» — небольшие текстовые файлы, размещаемые на компьютере пользователей с целью анализа их пользовательской активности.</p>
            <p>Собранная при помощи cookie информация не может идентифицировать вас, однако может помочь нам улучшить работу нашего сайта. Информация об использовании вами данного сайта, собранная при помощи cookie, будет передаваться Яндексу и храниться на сервере Яндекса в ЕС и Российской Федерации. Яндекс будет обрабатывать эту информацию для оценки использования вами сайта, составления для нас отчетов о деятельности нашего сайта, и предоставления других услуг. Яндекс обрабатывает эту информацию в порядке, установленном в условиях использования сервиса Яндекс Метрика.</p>
            <p>Вы можете отказаться от использования cookies, выбрав соответствующие настройки в браузере. Также вы можете использовать инструмент — https://yandex.ru/support/metrika/general/opt-out.html. Однако это может повлиять на работу некоторых функций сайта. Используя этот сайт, вы соглашаетесь на обработку данных о вас Яндексом в порядке и целях, указанных выше.</p>
            <p>Настоящая политика является публичным документом и размещается по адресу: https://comfortholding.ru/privacy.</p>
        </section>
        <div class="mt-8">
            <a href="/" class="bg-foreground text-background px-6 py-2 rounded-full inline-flex gap-2 items-center">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="var(--background)"><path d="M400-240 160-480l240-240 56 58-142 142h486v80H314l142 142-56 58Z" /></svg>
                Вернуться на главную</a
            >
        </div>
    </div>
{% endblock %}
